<doctype html>
    <title>lis post</title>
    
    <p><a href="{{ url_for('.add_post_view') }}"> Add post </a></p>
    
    <p>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </p>
    
    {{ table }}

{% for listPost in data %}
<tr>
  <td>
      {{listPost[0]}}
  </td>
  <td>
      {{listPost[post_contents]}}
  </td>
</tr>

{% endfor %}
    